<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My projects</title>
  </head>
  <body>
    {{> header}}

    <p>{{projectsMessage}}</p>
    <ul>
      <li>Focusound (p5.js)</li>
      <li>Achiever (p5.js)</li>
      <li>Weight-checking algorithm for moving objects (Python)</li>
    </ul>

    {{> footer}}
  </body>
</html>
